@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: red;
    --foreground: #d8d8d8;

    --muted: #d5d5d5;
    --muted-foreground: #d8b1bd;

    --popover: #ffffff;
    --popover-foreground: #d8d8d8;

    --card: #ffffff;
    --card-foreground: #d8d8d8;

    --border: #d8e8f0;
    --input: #d8e8f0;

    --primary: #1c1f22;
    --primary-foreground: #d5d5d5;

    --secondary: #d5d5d5;
    --secondary-foreground: #1c1f22;

    --accent: #d5d5d5;
    --accent-foreground: ;

    --destructive: #ff4d4d;
    --destructive-foreground: #d5d5d5;

    --ring: #d7d1a6;

    --radius: 0.5rem;
  }

  .dark {
    --background: red;
    --foreground: #d5d5d5;

    --muted: #d9d2b0;
    --muted-foreground: #d7d1a6;

    --popover: #d8d8d8;
    --popover-foreground: #d5d5d5;

    --card: #d8d8d8;
    --card-foreground: #d5d5d5;

    --border: #d9d2b0;
    --input: #d9d2b0;

    --primary: #d5d5d5;
    --primary-foreground: #1c1f22;

    --secondary: #d9d2b0;
    --secondary-foreground: #d5d5d5;

    --accent: #d9d2b0;
    --accent-foreground: ;

    --destructive: #ff9f9f;
    --destructive-foreground: #0056c3;

    --ring: #d9d2b0;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
